{% extends 'index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Query page</title>
</head>
<body>
<div class="container" style="margin-top:30px">
    <h2 class="text-center">Queries</h2>
    <br>
    <a class="container btn btn-default bg-dark" style="margin-left:575px; color:white; width: 150px;" href="{% url 'ask_question' %}"><i class="fas fa-plus"> </i> Ask Question</span></a>
    <br><br><br>
    {% for message in messages %}
    <h5 style="text-align:center; color:red; margin-bottom:50px"><label>{{message}}</label></h5>
    {% endfor %}
    <div>
        <div class="list-group list-group-flush">
        {% if query_list %}
        {% for i in query_list %}
          <a style="height: 50px; font-size:20px;" href="{% url 'discussion' i.id %}" class="list-group-item list-group-item-action"><i style="height:15px" class="fas fa-dot-circle">&nbsp;&nbsp;</i> {{i.question}}</a>
        {% endfor %}
        {% else %}
          <li style="font-weight: bold;font-size: 30px;" class="list-group-item text-center">No Questions</li>
        {% endif %}
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
