{% extends 'index.html' %}
{% load static %}
{% block content %}
<form method="post" class="container" style="margin-top: 50px; width:500px;">
    {% csrf_token %}
  <h3 style="text-align:center; margin-bottom:50px; color:green;">Registration Form</h3>
  {% for message in messages %}
    <h5 style="text-align:center; color:red; margin-bottom:50px"><label>{{message}}</label></h5>
  {% endfor %}
  <div class="mb-3">
    <label for="exampleInputUsername" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputUsername">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
